<a href="https://colab.research.google.com/github/samud07/samud07/blob/main/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from google.colab import files
 
 
uploaded = files.upload()

Saving employee_data.csv to employee_data.csv

In [5]:
import pandas as pd
import io
 
df = pd.read_csv(io.BytesIO(uploaded['employee_data.csv']))
print(df)

        AGENT_ID         AGENT_NAME DATE_OF_JOINING  \
0     AGENT00001          Ray Johns      1993-06-05
1     AGENT00002      Angelo Borjon      2005-12-27
2     AGENT00003     Candy Spellman      2003-09-02
3     AGENT00004         Mary Smith      2004-09-23
4     AGENT00005       Mildred Diaz      2011-06-21
...          ...                ...             ...
1195  AGENT01196     Myrtle Mccatty      2005-09-14
1196  AGENT01197        John Dorsey      1993-12-04
1197  AGENT01198        Ruth Bigbee      1993-09-05
1198  AGENT01199     Tommie Camacho      2004-10-25
1199  AGENT01200  Virginia Stachura      1999-05-25

                         ADDRESS_LINE1 ADDRESS_LINE2              CITY STATE  \
0                     1402 Maggies Way           NaN  Waterbury Center    VT
1                       414 Tanya Pass           NaN       Panama City    FL
2                  606 National Street          #306      Fayetteville    AR
3                235 Hugh Thomas Drive           NaN       Panama City    FL
4                3426 Broadview Street           NaN        Montgomery    AL
...                                ...           ...               ...   ...
1195  3553 Brandywine Street Northwest           NaN        Washington    DC
1196              2315 Chestnut Street           NaN        Montgomery    AL
1197            1983 Reidsville Street           NaN         Annapolis    MD
1198                  5821 Taft Street           NaN            Arvada    CO
1199                   3579 2nd Avenue           NaN         Edgewater    MD

      POSTAL_CODE  EMP_ROUTING_NUMBER     EMP_ACCT_NUMBER
0            5677            34584958  HKUN51252328472585
1           32404           107363763  OPIS19290040088204
2           72701            81744097  YSCJ67489688482590
3           32404            67563771  ZANG21285355574581
4           36110           114951317  DZFS82244494451134
...           ...                 ...                 ...
1195        20008            32137938  EWBR19907574832501
1196        36107            70796687  KGEJ74846009867837
1197        21401           124993912  RASV88064214164820
1198        80004            19424059  UOFO11656245339211
1199        21037            12226940  ALYY24945545778511

[1200 rows x 10 columns]

In [6]:
from google.colab import files
 
 
uploaded = files.upload()

Saving insurance_data.csv to insurance_data.csv

In [7]:
import pandas as pd
import io
 
df = pd.read_csv(io.BytesIO(uploaded['insurance_data.csv']))
print(df)

            TXN_DATE_TIME TRANSACTION_ID CUSTOMER_ID POLICY_NUMBER  \
0     2020-06-01 00:00:00    TXN00000001   A00003822   PLC00008468
1     2020-06-01 00:00:00    TXN00000002   A00008149   PLC00009594
2     2020-06-01 00:00:00    TXN00000003   A00003172   PLC00007969
3     2020-06-01 00:00:00    TXN00000004   A00007572   PLC00009292
4     2020-06-01 00:00:00    TXN00000005   A00008173   PLC00000204
...                   ...            ...         ...           ...
9995  2021-06-30 00:00:00    TXN00009996   A00006029   PLC00007245
9996  2021-06-30 00:00:00    TXN00009997   A00003555   PLC00002590
9997  2021-06-30 00:00:00    TXN00009998   A00004230   PLC00006613
9998  2021-06-30 00:00:00    TXN00009999   A00006694   PLC00001781
9999  2021-06-30 00:00:00    TXN00010000   A00000390   PLC00005197

     POLICY_EFF_DT     LOSS_DT   REPORT_DT INSURANCE_TYPE  PREMIUM_AMOUNT  \
0       2015-06-23  2020-05-16  2020-05-21         Health          157.13
1       2018-04-21  2020-05-13  2020-05-18       Property          141.71
2       2019-10-03  2020-05-21  2020-05-26       Property          157.24
3       2016-11-29  2020-05-14  2020-05-19         Health          172.87
4       2011-12-26  2020-05-17  2020-05-22         Travel           88.53
...            ...         ...         ...            ...             ...
9995    2014-04-11  2021-06-25  2021-06-26          Motor          105.75
9996    2015-08-25  2021-06-12  2021-06-17           Life           64.59
9997    2018-10-11  2021-06-18  2021-06-23         Health          183.50
9998    2016-01-29  2021-06-16  2021-06-21          Motor          113.46
9999    2014-09-17  2021-06-21  2021-06-24         Mobile            8.22

      CLAIM_AMOUNT  ... CLAIM_STATUS INCIDENT_SEVERITY AUTHORITY_CONTACTED  \
0             9000  ...            A        Major Loss              Police
1            26000  ...            A        Total Loss           Ambulance
2            13000  ...            A        Total Loss              Police
3            16000  ...            A        Minor Loss           Ambulance
4             3000  ...            A        Major Loss              Police
...            ...  ...          ...               ...                 ...
9995          1000  ...            A        Minor Loss           Ambulance
9996         67000  ...            A        Total Loss              Police
9997          8000  ...            A        Major Loss                None
9998          2000  ...            A        Total Loss           Ambulance
9999           300  ...            A        Total Loss           Ambulance

     ANY_INJURY POLICE_REPORT_AVAILABLE  INCIDENT_STATE   INCIDENT_CITY  \
0             0                       1              GA        Savannah
1             1                       0              AL      Montgomery
2             0                       1              CO  Grand Junction
3             0                       0              GA        Savannah
4             0                       1              TN       Nashville
...         ...                     ...             ...             ...
9995          1                       1              CT      Manchester
9996          1                       0              MA       Worcester
9997          1                       1              OK   Oklahoma City
9998          0                       1              AR    Fayetteville
9999          1                       0              CT      Manchester

     INCIDENT_HOUR_OF_THE_DAY    AGENT_ID  VENDOR_ID
0                           4  AGENT00413  VNDR00556
1                           0  AGENT00769  VNDR00592
2                          19  AGENT00883  VNDR00031
3                          12  AGENT00278  VNDR00075
4                          18  AGENT00636  VNDR00472
...                       ...         ...        ...
9995                        0  AGENT00779        NaN
9996                        6  AGENT00254  VNDR00598
9997                       12  AGENT00786  VNDR00104
9998                        6  AGENT00927  VNDR00185
9999                       13  AGENT00118  VNDR00163

[10000 rows x 38 columns]

In [8]:
from google.colab import files
 
 
uploaded = files.upload()

Saving vendor_data.csv to vendor_data.csv

In [9]:
import pandas as pd
import io
 
df = pd.read_csv(io.BytesIO(uploaded['vendor_data.csv']))
print(df)

     VENDOR_ID               VENDOR_NAME                   ADDRESS_LINE1  \
0    VNDR00001   King, Proctor and Jones        2027 North Shannon Drive
1    VNDR00002                Garcia Ltd          5701 East Shirley Lane
2    VNDR00003                Cherry LLC            1217 Cottondale Road
3    VNDR00004               Mays-Benson  227 West Montgomery Cross Road
4    VNDR00005                Wilson PLC            23 North Hill Street
..         ...                       ...                             ...
595  VNDR00596             Rhodes-Mendez           1689 Fisher Pond Road
596  VNDR00597             Ortiz-Donovan           140 South Hill Avenue
597  VNDR00598  Newton, Hodges and Henry           32512 Christine Drive
598  VNDR00599            Reeves-Leonard    12420 West Montebello Avenue
599  VNDR00600    Jacobs, Fox and Torres            2426 East Onyx Trail

    ADDRESS_LINE2               CITY STATE  POSTAL_CODE
0              #5       Fayetteville    AR        72703
1             NaN         Montgomery    AL        36117
2             NaN         Montgomery    AL        36109
3            #736           Savannah    GA        31406
4             NaN          Nashville    TN        37210
..            ...                ...   ...          ...
595           NaN  Saint Albans City    VT         5478
596          #305       Fayetteville    AR        72701
597           NaN         Union City    CA        94587
598           NaN    Litchfield Park    AZ        85340
599            #6       Fayetteville    AR        72701

[600 rows x 7 columns]

In [10]:
import sql

In [11]:
import numpy as np

In [12]:
import pandas as pd

In [13]:
insurance_data=pd.read_csv('insurance_data.csv')
employee_data=pd.read_csv('employee_data.csv')
vendor_data=pd.read_csv('vendor_data.csv')

In [14]:
# TASK 1
#Merging dataframes with appropriate suffixes for future reference
m1=pd.merge(insurance_data,employee_data,on='AGENT_ID',how='left',suffixes=('_CUSTOMER','_AGENT'))
view=pd.merge(m1,vendor_data,on='VENDOR_ID',how='left')

In [15]:
view

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,STATE_AGENT,POSTAL_CODE_AGENT,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,TN,37217,35441155,LRZO53254369804934,Ramsey Inc,3114 West 20th Court,NaN,Panama City,FL,32405.0
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,AZ,85301,44055451,XBYG14382904542874,"Morales, Campbell and Washington",42 West Louise Street,B,Fayetteville,AR,72701.0
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,...,AL,36105,55770246,WRXH14597428306333,Johnson Ltd,2619 North Quality Lane,#315,Fayetteville,AR,72703.0
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,...,OK,73071,87652976,YEPN16077902472499,Blackwell-Foster,3609 Meadow Drive,NaN,Nashville,TN,37215.0
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,...,MD,21061,76119019,HZBK86544578578547,Evans-Scott,4001 19th Place Northeast,NaN,Washington,DC,20018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2021-06-30 00:00:00,TXN00009996,A00006029,PLC00007245,2014-04-11,2021-06-25,2021-06-26,Motor,105.75,1000,...,AR,72703,35413882,LFOJ76068590051807,NaN,NaN,NaN,NaN,NaN,NaN
9996,2021-06-30 00:00:00,TXN00009997,A00003555,PLC00002590,2015-08-25,2021-06-12,2021-06-17,Life,64.59,67000,...,GA,31405,91206790,AHEF60771774635030,"Newton, Hodges and Henry",32512 Christine Drive,NaN,Union City,CA,94587.0
9997,2021-06-30 00:00:00,TXN00009998,A00004230,PLC00006613,2018-10-11,2021-06-18,2021-06-23,Health,183.50,8000,...,KY,40272,115241097,WREH18805592939657,Reese-Mckinney,20 Garfield Street,NaN,Needham,MA,2492.0
9998,2021-06-30 00:00:00,TXN00009999,A00006694,PLC00001781,2016-01-29,2021-06-16,2021-06-21,Motor,113.46,2000,...,AR,72703,13995380,AAZI21883736448048,"Harmon, Manning and Bradley",1823 Dinger Road,NaN,Annapolis,MD,21402.0
9999,2021-06-30 00:00:00,TXN00010000,A00000390,PLC00005197,2014-09-17,2021-06-21,2021-06-24,Mobile,8.22,300,...,OK,73003,39790996,RPES05613584687957,Foster-Sanchez,4255 Tanager Common,NaN,Fremont,CA,94555.0

In [16]:
# task 2
insurance_data.INSURANCE_TYPE.value_counts()[:3]

Property    1692
Mobile      1692
Health      1690
Name: INSURANCE_TYPE, dtype: int64

In [17]:
# task 3 
insurance_data.columns

Index(['TXN_DATE_TIME', 'TRANSACTION_ID', 'CUSTOMER_ID', 'POLICY_NUMBER',
       'POLICY_EFF_DT', 'LOSS_DT', 'REPORT_DT', 'INSURANCE_TYPE',
       'PREMIUM_AMOUNT', 'CLAIM_AMOUNT', 'CUSTOMER_NAME', 'ADDRESS_LINE1',
       'ADDRESS_LINE2', 'CITY', 'STATE', 'POSTAL_CODE', 'SSN',
       'MARITAL_STATUS', 'AGE', 'TENURE', 'EMPLOYMENT_STATUS',
       'NO_OF_FAMILY_MEMBERS', 'RISK_SEGMENTATION', 'HOUSE_TYPE',
       'SOCIAL_CLASS', 'ROUTING_NUMBER', 'ACCT_NUMBER',
       'CUSTOMER_EDUCATION_LEVEL', 'CLAIM_STATUS', 'INCIDENT_SEVERITY',
       'AUTHORITY_CONTACTED', 'ANY_INJURY', 'POLICE_REPORT_AVAILABLE',
       'INCIDENT_STATE', 'INCIDENT_CITY', 'INCIDENT_HOUR_OF_THE_DAY',
       'AGENT_ID', 'VENDOR_ID'],
      dtype='object')

In [18]:
insurance_data[insurance_data['RISK_SEGMENTATION']=='H'].STATE.value_counts()[:5]

CA    148
AZ    105
FL    104
TN    100
AR     97
Name: STATE, dtype: int64

In [19]:
# task 4 
view.columns

Index(['TXN_DATE_TIME', 'TRANSACTION_ID', 'CUSTOMER_ID', 'POLICY_NUMBER',
       'POLICY_EFF_DT', 'LOSS_DT', 'REPORT_DT', 'INSURANCE_TYPE',
       'PREMIUM_AMOUNT', 'CLAIM_AMOUNT', 'CUSTOMER_NAME',
       'ADDRESS_LINE1_CUSTOMER', 'ADDRESS_LINE2_CUSTOMER', 'CITY_CUSTOMER',
       'STATE_CUSTOMER', 'POSTAL_CODE_CUSTOMER', 'SSN', 'MARITAL_STATUS',
       'AGE', 'TENURE', 'EMPLOYMENT_STATUS', 'NO_OF_FAMILY_MEMBERS',
       'RISK_SEGMENTATION', 'HOUSE_TYPE', 'SOCIAL_CLASS', 'ROUTING_NUMBER',
       'ACCT_NUMBER', 'CUSTOMER_EDUCATION_LEVEL', 'CLAIM_STATUS',
       'INCIDENT_SEVERITY', 'AUTHORITY_CONTACTED', 'ANY_INJURY',
       'POLICE_REPORT_AVAILABLE', 'INCIDENT_STATE', 'INCIDENT_CITY',
       'INCIDENT_HOUR_OF_THE_DAY', 'AGENT_ID', 'VENDOR_ID', 'AGENT_NAME',
       'DATE_OF_JOINING', 'ADDRESS_LINE1_AGENT', 'ADDRESS_LINE2_AGENT',
       'CITY_AGENT', 'STATE_AGENT', 'POSTAL_CODE_AGENT', 'EMP_ROUTING_NUMBER',
       'EMP_ACCT_NUMBER', 'VENDOR_NAME', 'ADDRESS_LINE1', 'ADDRESS_LINE2',
       'CITY', 'STATE', 'POSTAL_CODE'],
      dtype='object')

In [20]:
# The columns above in view with no suffixes represent column of vendor data.
view['COLOCATION'] = (view['STATE_CUSTOMER']==view['INCIDENT_STATE'])&(view['INCIDENT_STATE']==view['STATE_AGENT'])

In [21]:
# changing column vaues from True to 1 and False to 0
view['COLOCATION']=view.COLOCATION.astype('int')

In [22]:
view.COLOCATION.mean()

0.0044

In [23]:
# task 5 
non_police = view[view['AUTHORITY_CONTACTED']!='Police']

In [24]:
update_rows = non_police[non_police['POLICE_REPORT_AVAILABLE']==1].index

In [25]:
# Updating the Authority column
view.loc[update_rows,'AUTHORITY_CONTACTED'] = 'Police'

In [26]:
# Checking
view[(view['POLICE_REPORT_AVAILABLE']==1)&(view['AUTHORITY_CONTACTED']!='Police')]

Empty DataFrame
Columns: [TXN_DATE_TIME, TRANSACTION_ID, CUSTOMER_ID, POLICY_NUMBER, POLICY_EFF_DT, LOSS_DT, REPORT_DT, INSURANCE_TYPE, PREMIUM_AMOUNT, CLAIM_AMOUNT, CUSTOMER_NAME, ADDRESS_LINE1_CUSTOMER, ADDRESS_LINE2_CUSTOMER, CITY_CUSTOMER, STATE_CUSTOMER, POSTAL_CODE_CUSTOMER, SSN, MARITAL_STATUS, AGE, TENURE, EMPLOYMENT_STATUS, NO_OF_FAMILY_MEMBERS, RISK_SEGMENTATION, HOUSE_TYPE, SOCIAL_CLASS, ROUTING_NUMBER, ACCT_NUMBER, CUSTOMER_EDUCATION_LEVEL, CLAIM_STATUS, INCIDENT_SEVERITY, AUTHORITY_CONTACTED, ANY_INJURY, POLICE_REPORT_AVAILABLE, INCIDENT_STATE, INCIDENT_CITY, INCIDENT_HOUR_OF_THE_DAY, AGENT_ID, VENDOR_ID, AGENT_NAME, DATE_OF_JOINING, ADDRESS_LINE1_AGENT, ADDRESS_LINE2_AGENT, CITY_AGENT, STATE_AGENT, POSTAL_CODE_AGENT, EMP_ROUTING_NUMBER, EMP_ACCT_NUMBER, VENDOR_NAME, ADDRESS_LINE1, ADDRESS_LINE2, CITY, STATE, POSTAL_CODE, COLOCATION]
Index: []

[0 rows x 54 columns]

In [27]:
#task 6
view.TXN_DATE_TIME.max()

'2021-06-30 00:00:00'

In [28]:
# Assuming current day to be 2021-06-30
curr_date = pd.to_datetime('2021-06-30')

In [30]:
view['TXN_DATE_TIME'] = pd.to_datetime(view['TXN_DATE_TIME'])

In [31]:
# df with last 30 days data
last_30 = view.loc[(view['TXN_DATE_TIME'] > '2021-05-30') & (view['TXN_DATE_TIME'] < '2021-06-30')]

In [32]:
# Getting average claim of last 30 days insurance type wise and storing it in dictionary
average_claim = last_30.groupby('INSURANCE_TYPE').mean()['CLAIM_AMOUNT'].to_dict()

In [33]:
# defining a function for calculating claim_deviation
def Claim_deviation(row):
    if (curr_date - row['TXN_DATE_TIME'])<pd.Timedelta(days=30):
        return -1
    claim_deviation = average_claim[row['INSURANCE_TYPE']] / row['CLAIM_AMOUNT']
    if claim_deviation < 0.5:
        return 1
    else:
        return 0

In [34]:
# Applying the function to the dataframe
view['CLAIM_DEVIATION'] = view.apply(Claim_deviation,axis=1)

In [35]:
view.CLAIM_DEVIATION.value_counts()

 0    9216
-1     784
Name: CLAIM_DEVIATION, dtype: int64

In [36]:
# task 7 
# calculating insurance types worked on of each agent
type_count = view.groupby('AGENT_ID')['INSURANCE_TYPE'].nunique()

In [37]:
# Calculating wheather agent has more than 2 insurance types
agent_insurance_types = type_count>2

In [38]:
# getting list of agents who have worked on more than 2 types of insurance types
multi_type_agents = agent_insurance_types[agent_insurance_types].index

In [39]:
Top_agents = view.groupby(['AGENT_ID','AGENT_NAME']).sum().loc[multi_type_agents][['CLAIM_AMOUNT']].sort_values('CLAIM_AMOUNT',ascending=False)

In [40]:
Top_agents

                             CLAIM_AMOUNT
AGENT_ID   AGENT_NAME
AGENT00807 Don Filkins             528800
AGENT00679 Clara Barnett           489000
AGENT00771 Roger Burns             422100
AGENT00125 Salvador Soriano        400400
AGENT00789 Alison Baron            392900
...                                   ...
AGENT00910 Vincent Ragan            15500
AGENT00689 Connie Hunt              13700
AGENT00732 Sylvia Tran              11300
AGENT00706 Laura Staggs             10800
AGENT00604 Thelma Salinas            5500

[1164 rows x 1 columns]

In [41]:
# Agents who have worked on more than 2 types of insurance claims, sorted by total claims approved under them in descending order along with types of insurance they worked in
Top_agents.join(type_count)

                             CLAIM_AMOUNT  INSURANCE_TYPE
AGENT_ID   AGENT_NAME
AGENT00807 Don Filkins             528800               6
AGENT00679 Clara Barnett           489000               4
AGENT00771 Roger Burns             422100               5
AGENT00125 Salvador Soriano        400400               4
AGENT00789 Alison Baron            392900               4
...                                   ...             ...
AGENT00910 Vincent Ragan            15500               3
AGENT00689 Connie Hunt              13700               3
AGENT00732 Sylvia Tran              11300               3
AGENT00706 Laura Staggs             10800               3
AGENT00604 Thelma Salinas            5500               3

[1164 rows x 2 columns]

In [42]:
# task 8
premium_collected_earlier = view['PREMIUM_AMOUNT'].sum()

In [44]:
# total premium collected by each insurance type
prem_by_types = view.groupby('INSURANCE_TYPE').sum()['PREMIUM_AMOUNT'].to_dict()

In [45]:
prem_by_types

{'Health': 252455.73,
 'Life': 125621.22,
 'Mobile': 15191.42,
 'Motor': 165391.98,
 'Property': 202285.83,
 'Travel': 124139.77}

In [46]:
# Mobile & Travel premium discounted by 10%
prem_by_types['Mobile']*=0.9
prem_by_types['Travel']*=0.9
# Health and Property premium increases by 7%
prem_by_types['Health']*=1.07
prem_by_types['Property']*=1.07
# Life and Motor premium increased by 2%
prem_by_types['Life']*=1.02
prem_by_types['Motor']*=1.02

In [47]:
# premium after discount and increase
revised_premium = sum(prem_by_types.values())

In [48]:
(revised_premium-premium_collected_earlier)*100/premium_collected_earlier

2.6798588543858517

In [49]:
premium_collected_earlier,revised_premium

(885085.95, 908805.0042000001)

In [50]:
# task 9 
# calculating status for discount with given conditions
disc_status=(view['TENURE']>60)&(view['EMPLOYMENT_STATUS']=='N')&(view['NO_OF_FAMILY_MEMBERS']>=4)

In [51]:
# Creating an column ELIGIBLE_FOR_DISCOUNT with above values
view['ELIGIBLE_FOR_DISCOUNT'] = disc_status.astype('int')

In [52]:
# Mean of this column
view.ELIGIBLE_FOR_DISCOUNT.mean()

0.0299

In [53]:
# task 10 
curr_date

Timestamp('2021-06-30 00:00:00')

In [59]:
Timestamp('2021-06-30 00:00:00')

NameError: ignored

In [55]:
view['CLAIM_STATUS'].value_counts()

A    9497
D     503
Name: CLAIM_STATUS, dtype: int64

In [56]:
# we had defined last 30 days data in task#6 earlier, similarly defining for last 3 days

In [57]:
last_3_days = view.loc[(view['TXN_DATE_TIME'] > curr_date-pd.Timedelta(days=4)) & (view['TXN_DATE_TIME'] < curr_date)]

In [58]:
# Calculating total approved claims insurance type wise in last 30 days
claims_in_last_30_days = pd.DataFrame.from_dict(last_30[last_30['CLAIM_STATUS']=='A'].groupby('INSURANCE_TYPE').size().to_dict(),orient='index',columns=['NO_OF_CLAIMS_IN_LAST30DAYS'])

In [60]:
approved_claims = claims_in_last_30_days.join(claims_in_last_3_days)

NameError: ignored

In [61]:
approved_claims['CLAIM_VELOCITY'] = approved_claims['NO_OF_CLAIMS_IN_LAST30DAYS']/approved_claims['NO_OF_CLAIMS_IN_LAST3DAYS']

NameError: ignored

In [62]:
approved_claims

NameError: ignored

In [63]:
All_claims30D = pd.DataFrame.from_dict(last_30.groupby('INSURANCE_TYPE').size().to_dict(),orient='index',columns=['NO_OF_CLAIMS_IN_LAST30DAYS'])

In [64]:
All_claims3D = pd.DataFrame.from_dict(last_3_days.groupby('INSURANCE_TYPE').size().to_dict(),orient='index',columns=['NO_OF_CLAIMS_IN_LAST3DAYS'])

In [65]:
total_claims=All_claims30D.join(All_claims3D)

In [66]:
total_claims['CLAIM_VELOCITY'] = total_claims['NO_OF_CLAIMS_IN_LAST30DAYS']/total_claims['NO_OF_CLAIMS_IN_LAST3DAYS']

In [67]:
total_claims

,NO_OF_CLAIMS_IN_LAST30DAYS,NO_OF_CLAIMS_IN_LAST3DAYS,CLAIM_VELOCITY
Health,136,14,9.714286
Life,140,14,10.000000
Mobile,134,10,13.400000
Motor,122,13,9.384615
Property,129,13,9.923077
Travel,125,14,8.928571

In [68]:
# task 11
bottom_5percentile_limit = view.groupby('AGENT_ID').sum().quantile(0.05)['CLAIM_AMOUNT']

In [69]:
Agent_grouped_data = view.groupby('AGENT_ID').sum()

In [70]:
# Low performing agent data
low_performing_agents = Agent_grouped_data[Agent_grouped_data['CLAIM_AMOUNT']<=bottom_5percentile_limit][['CLAIM_AMOUNT']]

In [71]:
low_performing_agents

            CLAIM_AMOUNT
AGENT_ID
AGENT00006         22400
AGENT00014          7400
AGENT00016         27000
AGENT00085         25700
AGENT00088         27700
AGENT00091         30000
AGENT00098         28200
AGENT00134         22000
AGENT00149         28900
AGENT00156         13200
AGENT00172         22200
AGENT00185         16100
AGENT00186         27700
AGENT00188         28400
AGENT00197         18500
AGENT00252         20000
AGENT00263         11500
AGENT00275         16200
AGENT00279         28000
AGENT00300         12600
AGENT00310         28800
AGENT00316         22200
AGENT00351         21700
AGENT00425         17800
AGENT00442         30300
AGENT00536         20000
AGENT00562         21100
AGENT00571         24200
AGENT00585         16600
AGENT00590         22200
AGENT00604          5500
AGENT00621          5300
AGENT00628          6100
AGENT00672         21300
AGENT00689         13700
AGENT00706         10800
AGENT00721          9000
AGENT00732         11300
AGENT00773         15000
AGENT00780         11300
AGENT00790          6000
AGENT00804         20000
AGENT00805         22600
AGENT00830         23500
AGENT00841         17800
AGENT00856         24200
AGENT00894         27600
AGENT00910         15500
AGENT00969         28300
AGENT00985         30000
AGENT01021         24300
AGENT01037          5600
AGENT01052         28000
AGENT01077          4200
AGENT01107         24700
AGENT01128         28000
AGENT01131         27500
AGENT01151         28000
AGENT01154           800
AGENT01179         27300

In [72]:
# task 12
criteria = (view['CLAIM_STATUS']=='A')&(view['RISK_SEGMENTATION']=='H')&(view['INCIDENT_SEVERITY']=='Major Loss')

In [73]:
# transactions that follow criteria
criteriamet = view[criteria]

In [74]:
grouped_suspicion_data = criteriamet.groupby('AGENT_ID').sum()

In [75]:
# storing agents_id that are suspicious(met all the criteria)
suspicious_agents = list(grouped_suspicion_data[grouped_suspicion_data['CLAIM_AMOUNT']>=15000].index)

In [76]:
employee_data

,AGENT_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER
0,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585
1,AGENT00002,Angelo Borjon,2005-12-27,414 Tanya Pass,NaN,Panama City,FL,32404,107363763,OPIS19290040088204
2,AGENT00003,Candy Spellman,2003-09-02,606 National Street,#306,Fayetteville,AR,72701,81744097,YSCJ67489688482590
3,AGENT00004,Mary Smith,2004-09-23,235 Hugh Thomas Drive,NaN,Panama City,FL,32404,67563771,ZANG21285355574581
4,AGENT00005,Mildred Diaz,2011-06-21,3426 Broadview Street,NaN,Montgomery,AL,36110,114951317,DZFS82244494451134
...,...,...,...,...,...,...,...,...,...,...
1195,AGENT01196,Myrtle Mccatty,2005-09-14,3553 Brandywine Street Northwest,NaN,Washington,DC,20008,32137938,EWBR19907574832501
1196,AGENT01197,John Dorsey,1993-12-04,2315 Chestnut Street,NaN,Montgomery,AL,36107,70796687,KGEJ74846009867837
1197,AGENT01198,Ruth Bigbee,1993-09-05,1983 Reidsville Street,NaN,Annapolis,MD,21401,124993912,RASV88064214164820
1198,AGENT01199,Tommie Camacho,2004-10-25,5821 Taft Street,NaN,Arvada,CO,80004,19424059,UOFO11656245339211
1199,AGENT01200,Virginia Stachura,1999-05-25,3579 2nd Avenue,NaN,Edgewater,MD,21037,12226940,ALYY24945545778511

In [77]:
employee_data['SUSPICIOUS'] = 0

In [78]:
sus_emp_slice = employee_data['AGENT_ID'].isin(suspicious_agents)

In [79]:
# Changing suspicious column value to 1 of suspicious employees
employee_data.loc[sus_emp_slice,'SUSPICIOUS']=1

In [80]:
employee_data['SUSPICIOUS'].mean()

0.12416666666666666